terraform {
  backend "s3" {
    bucket       = "your-unique-state-bucket"
    key          = "day04/backend_demo/terraform.tfstate"
    region       = "ap-south-1"
    encrypt      = true
    use_lockfile = true
  }
}
